/* App.css */

/* 전체 애플리케이션 컨테이너 스타일 */
.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

}

/* 페이지 제목 스타일 */
.page-title {
  font-size: 24px;
  /* font-weight: bold; */
  /* margin-bottom: 10px; */
  /* background-color: #0d00ff; */
  /* border: 1px solid #ddd; */
}

/* 페이지 설명 스타일 */
.page-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

/* 목차 스타일 */
.toc {
  margin-bottom: 20px;
}

/* 목차 항목 스타일 */
.toc-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 목차 항목 링크 스타일 */
.toc-link {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
}

/* 목차 항목 링크 호버 스타일 */
.toc-link:hover {
  color: #007bff;
}

/* 컨텐츠 스타일 */
.content {
  font-size: 18px;
  line-height: 1.6;
}

/* 컨트롤 버튼 스타일 */
.control-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

/* 컨트롤 버튼 호버 스타일 */
.control-button:hover {
  background-color: #0056b3;
}
